/* Font Styles */

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c%7CRoboto+Slab');

h1, h2, h3, h4, h5, h6 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
    font-family: 'Roboto Slab', serif;
}

/* Nav Styles/Transition */

.nav-item {
	-webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}

.nav-item:hover {
    background-color: #FC4A1A;
}

/* Line Up Images */

.lineup > div:hover {
    transform: scale(1.25);
}

.lineup > div {
    transition: all 1s ease 0s;
}

/* Buttons */

.btn-primary:hover {
	transform: scale(1.15);
	background-color: #fff;
	color: #007bff;
}
.btn-primary {
	transition: all 0.5s ease 0s;
	width: 100%;
}

/* Footer Styles */

.footer-flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex {
    flex: 0 1 auto;
}
