/* Font Styles */

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c%7CRoboto+Slab');

h1, h2, h3, h4, h5, h6 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
    font-family: 'Roboto Slab', serif;
}

a[href="index.html"] {
    font-size: 1.5rem; 
}

p:first-child {
    font-size: 1.1rem;
} 

.breadcrumb-item {
    font-size: 1.5rem;
}

/* Media Queries */

/* Phones */

@media (min-width: 320px) {
    body {
        background-color: #CDD7D6;
    }
}

/* Tablet Portrait*/

@media (min-width: 600px) {
    body {
        background-color: #F0EC57;
    }
}

/* Desktop */

@media (min-width: 1024px) {
    body {
        background-color: white;
    }
}

/* Nav Styles/Transition */

.nav-item {
    margin-right: 3px;
}

.nav-item {
	-webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}

.nav-item:hover {
    background-color: #FC4A1A;
}

/* Index Images */

.carousel-item {
    height: 300px;
    width: auto;
}

/* Line Up Images */

.lineup > div:hover {
    transform: scale(1.25);
}

.lineup > div {
    transition: all 1s ease 0s;
}

/* Buttons */

.btn-primary:hover {
	transform: scale(1.15);
	background-color: #fff;
	color: #007bff;
}
.btn-primary {
	transition: all 0.5s ease 0s;
	width: 100%;
}

.shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1.5; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Footer Styles */

.footer-flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex {
    flex: 0 1 auto;
}

/* Twitch Embed */

iframe {
    min-height: 320px
}

.img-card-top {
    max-width: 320px;
}